/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    color: #333;
}

/* Encabezado */
header {
    text-align: center;
    margin-bottom: 25px;
}

h1 {
    color: #e21717;
}

h2 {
    color: #4c4c4c;
    margin-top: 5px;
}

/* Foto */
.foto-perfil img {
    width: 200px;
    height: auto;
    border-radius: 15px;
    display: block;
    margin: 20px auto;
    border: 3px solid #ff0202;
}

/* Texto descriptivo */
.descripcion {
    max-width: 700px;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1.6;
}

/* Listas */
ul, ol {
    max-width: 600px;
    margin: 20px auto;
    padding-left: 40px;
}

/* Tabla */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

table th, table td {
    border: 1px solid #999;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #fe0000;
    color: white;
}
h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Formulario de contacto */
.contacto {
    width: 90%;
    max-width: 600px;
    background: white;
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.contacto h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff0000;
}

.contacto form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contacto label {
    font-weight: bold;
}

.contacto input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #888;
}

.contacto button {
    padding: 12px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contacto button:hover {
    background-color: #ff0202;
}
